# Prerequisites
_build/intermediate/
_build/bin/
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.exp
# Executables
*.exe
*.out
*.app
*.exp
src/.vs/engine/v16/Server/sqlite3/db.lock
src/.vs/engine/v16/Server/sqlite3/storage.ide
src/.vs/engine/v16/Server/sqlite3/storage.ide-shm
src/.vs/engine/v16/Server/sqlite3/storage.ide-wal
src/.vs/engine/v16/Solution.VC.db-wal
*.db-shm